<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Libraries Page</title></head>
<body>
<h1>Libraries</h1>

<br/>

<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> City </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${libraries.empty}">
        <td colspan="2"> No libraries Available </td>
    </tr>
    <tr th:each="lib : ${libraries}">
        <td><span th:text="${lib.name}"> Name </span></td>
        <td><span th:text="${lib.city}"> City </span></td>
        <td>
            <form th:action="@{/library/delete/{id}(id=${lib.id})}" th:object="${lib}" method="post">
                <input type="hidden">Delete</input>
                <button type="submit" name="removeRow">Delete</button>
            </form>

        </td>
    </tr>
    </tbody>
</table>

<br>

<h2>Add library</h2>
<form action="#" th:action="@{/library/create/}" th:object="${library}" method="post">
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>City: <input type="text" th:field="*{city}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

</body>
</html>