<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Error Occurred</title></head>
<body>
<h1>Error Occurred!</h1>
<b>[<span th:text="${status}">status</span>]
    <span th:text="${error}">error</span>
</b>
<p th:text="${message}">message</p>
</body>
</html>