<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Books Page</title></head>
<body>
<h1>Books</h1>


<br/>

<table>
    <thead>
    <tr>
        <th> Title </th>
        <th> Author </th>
        <th> Library </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${books.empty}">
        <td colspan="2"> No Books Available </td>
    </tr>
    <tr th:each="book : ${books}">
        <td><span th:text="${book.title}"> Title </span></td>
        <td><span th:text="${book.author}"> Author </span></td>
        <td><span th:text="${book.library.name}"> Library </span></td>
        <td>
            <form th:action="@{/book/delete/{id}(id=${book.id})}" th:object="${book}" method="post">
                <input type="hidden">Delete</input>
                <button type="submit" name="removeRow">Delete</button>
            </form>

        </td>
    </tr>
    </tbody>
</table>

<br>

<h2>Add books</h2>
<form action="#" th:action="@{/book/create/}" th:object="${book}" method="post">
    <p>Title: <input type="text" th:field="*{title}" /></p>
    <p>Author: <input type="text" th:field="*{author}" /></p>
    <p>
        <select th:field="*{libraryId}">
            <option th:each="lib : ${libraries}"
                    th:value="${lib.id}"
                    th:text="${lib.name}">Wireframe</option>
        </select>
    </p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

</body>
</html>